thymeleaf-spring3/src/main/resources/org/thymeleaf/dtd/thymeleaf-spring3/xhtml11-thymeleaf-spring3-4.dtd

<!-- ....................................................................... -->
<!-- XHTML 1.1 DTD  ........................................................ -->
<!-- file: xhtml11-thymeleaf-1.dtd
-->
<!-- Modified XHTML 1.1 DTD for Thymeleaf, v4 (>= thymeleaf-spring3 v2.1.0)

     This file makes use of the XHTML modular extension system in order to
     add thymeleaf's elements and attributes.

     Use of this file requires a SYSTEM DOCTYPE (no PUBLICID) with the
     following identifier:

     SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-4.dtd"

     More info: http://www.thymeleaf.org

-->

<!-- Register Thymeleaf specific elements................................... -->
<!-- ....................................................................... -->
<!ENTITY % thblock.qname  "th:block" >
<!ENTITY % Misc.extra "| %thblock.qname;" >

<!-- Include the Standard XHTML 1.1 specification........................... -->
<!-- ....................................................................... -->
<!ENTITY % xhtml11.dtd PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%xhtml11.dtd;


<!-- Register shape of Thymeleaf specific elements.......................... -->
<!-- ....................................................................... -->
<!ENTITY % thblock.content "( #PCDATA | %Flow.mix; )*" >
<!ELEMENT %thblock.qname;  %thblock.content; >

<!-- Register thymeleaf specific attributes................................. -->
<!-- ....................................................................... -->

<!ENTITY % allthymeleafattrs
 "th:abbr            CDATA  #IMPLIED
  th:accept          CDATA  #IMPLIED
  th:accept-charset  CDATA  #IMPLIED
  th:accesskey       CDATA  #IMPLIED
  th:action          CDATA  #IMPLIED
  th:align           CDATA  #IMPLIED
  th:alt             CDATA  #IMPLIED
  th:alt-title       CDATA  #IMPLIED
  th:archive         CDATA  #IMPLIED
  th:assert          CDATA  #IMPLIED
  th:attr            CDATA  #IMPLIED
  th:attrappend      CDATA  #IMPLIED
  th:attrprepend     CDATA  #IMPLIED
  th:axis            CDATA  #IMPLIED
  th:background      CDATA  #IMPLIED
  th:bgcolor         CDATA  #IMPLIED
  th:border          CDATA  #IMPLIED
  th:case            CDATA  #IMPLIED
  th:cellpadding     CDATA  #IMPLIED
  th:cellspacing     CDATA  #IMPLIED
  th:charset         CDATA  #IMPLIED
  th:checked         CDATA  #IMPLIED
  th:cite            CDATA  #IMPLIED
  th:class           CDATA  #IMPLIED
  th:classid         CDATA  #IMPLIED
  th:classappend     CDATA  #IMPLIED
  th:codebase        CDATA  #IMPLIED
  th:codetype        CDATA  #IMPLIED
  th:cols            CDATA  #IMPLIED
  th:colspan         CDATA  #IMPLIED
  th:compact         CDATA  #IMPLIED
  th:content         CDATA  #IMPLIED
  th:data            CDATA  #IMPLIED
  th:declare         CDATA  #IMPLIED
  th:defer           CDATA  #IMPLIED
  th:dir             CDATA  #IMPLIED
  th:disabled        CDATA  #IMPLIED
  th:each            CDATA  #IMPLIED
  th:enctype         CDATA  #IMPLIED
  th:errors          CDATA  #IMPLIED
  th:errorclass      CDATA  #IMPLIED
  th:field           CDATA  #IMPLIED
  th:for             CDATA  #IMPLIED
  th:fragment        CDATA  #IMPLIED
  th:frame           CDATA  #IMPLIED
  th:frameborder     CDATA  #IMPLIED
  th:headers         CDATA  #IMPLIED
  th:height          CDATA  #IMPLIED
  th:href            CDATA  #IMPLIED
  th:hreflang        CDATA  #IMPLIED
  th:hspace          CDATA  #IMPLIED
  th:http-equiv      CDATA  #IMPLIED
  th:id              CDATA  #IMPLIED
  th:if              CDATA  #IMPLIED
  th:include         CDATA  #IMPLIED
  th:inline          CDATA  #IMPLIED
  th:ismap           CDATA  #IMPLIED
  th:label           CDATA  #IMPLIED
  th:lang            CDATA  #IMPLIED
  th:lang-xmllang    CDATA  #IMPLIED
  th:longdesc        CDATA  #IMPLIED
  th:marginheight    CDATA  #IMPLIED
  th:marginwidth     CDATA  #IMPLIED
  th:maxlength       CDATA  #IMPLIED
  th:media           CDATA  #IMPLIED
  th:method          CDATA  #IMPLIED
  th:multiple        CDATA  #IMPLIED
  th:name            CDATA  #IMPLIED
  th:nowrap          CDATA  #IMPLIED
  th:object          CDATA  #IMPLIED
  th:onblur          CDATA  #IMPLIED
  th:onchange        CDATA  #IMPLIED
  th:onclick         CDATA  #IMPLIED
  th:ondblclick      CDATA  #IMPLIED
  th:onfocus         CDATA  #IMPLIED
  th:onkeydown       CDATA  #IMPLIED
  th:onkeypress      CDATA  #IMPLIED
  th:onkeyup         CDATA  #IMPLIED
  th:onload          CDATA  #IMPLIED
  th:onmousedown     CDATA  #IMPLIED
  th:onmousemove     CDATA  #IMPLIED
  th:onmouseout      CDATA  #IMPLIED
  th:onmouseover     CDATA  #IMPLIED
  th:onmouseup       CDATA  #IMPLIED
  th:onreset         CDATA  #IMPLIED
  th:onselect        CDATA  #IMPLIED
  th:onsubmit        CDATA  #IMPLIED
  th:onunload        CDATA  #IMPLIED
  th:readonly        CDATA  #IMPLIED
  th:rel             CDATA  #IMPLIED
  th:remove          CDATA  #IMPLIED
  th:replace         CDATA  #IMPLIED
  th:rev             CDATA  #IMPLIED
  th:rows            CDATA  #IMPLIED
  th:rowspan         CDATA  #IMPLIED
  th:rules           CDATA  #IMPLIED
  th:scheme          CDATA  #IMPLIED
  th:scope           CDATA  #IMPLIED
  th:scrolling       CDATA  #IMPLIED
  th:selected        CDATA  #IMPLIED
  th:size            CDATA  #IMPLIED
  th:span            CDATA  #IMPLIED
  th:src             CDATA  #IMPLIED
  th:srclang         CDATA  #IMPLIED
  th:standby         CDATA  #IMPLIED
  th:start           CDATA  #IMPLIED
  th:style           CDATA  #IMPLIED
  th:styleappend     CDATA  #IMPLIED
  th:substituteby    CDATA  #IMPLIED
  th:summary         CDATA  #IMPLIED
  th:switch          CDATA  #IMPLIED
  th:tabindex        CDATA  #IMPLIED
  th:target          CDATA  #IMPLIED
  th:text            CDATA  #IMPLIED
  th:title           CDATA  #IMPLIED
  th:type            CDATA  #IMPLIED
  th:unless          CDATA  #IMPLIED
  th:usemap          CDATA  #IMPLIED
  th:utext           CDATA  #IMPLIED
  th:value           CDATA  #IMPLIED
  th:valuetype       CDATA  #IMPLIED
  th:vspace          CDATA  #IMPLIED
  th:width           CDATA  #IMPLIED
  th:with            CDATA  #IMPLIED
  th:xmlbase         CDATA  #IMPLIED
  th:xmllang         CDATA  #IMPLIED
  th:xmlspace        CDATA  #IMPLIED"
  >

<!ATTLIST %thblock.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %a.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %abbr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %acronym.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %address.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %area.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %b.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %base.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %bdo.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %big.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %blockquote.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %body.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %br.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %button.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %caption.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %cite.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %code.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %col.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %colgroup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dd.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %del.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dfn.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %div.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dl.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dt.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %em.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %fieldset.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %form.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h1.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h1.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h2.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h3.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h4.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h5.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h6.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %head.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %hr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %html.qname;
  xmlns:th   %URI.datatype;   #IMPLIED
  %allthymeleafattrs;
  >

<!ATTLIST %i.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %img.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %input.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ins.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %kbd.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %label.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %legend.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %li.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %link.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %map.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %meta.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %noscript.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %object.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ol.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %optgroup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %option.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %p.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %param.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %pre.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %q.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %samp.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %script.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %select.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %small.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %span.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %strong.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %style.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %sub.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %sup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %table.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tbody.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %td.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %textarea.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tfoot.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %th.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %thead.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %title.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tt.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ul.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %var.qname;
  %allthymeleafattrs;
  >


<!-- end of XHTML 1.1 DTD thymeleaf specific features....................... -->
<!-- ....................................................................... -->
