src/main/resources/org/thymeleaf/dtd/thymeleaf/xhtml11-thymeleaf-1.dtd

<!-- ....................................................................... -->
<!-- XHTML 1.1 DTD  ........................................................ -->
<!-- file: xhtml11-thymeleaf-1.dtd
-->
<!-- Modified XHTML 1.1 DTD for Thymeleaf, v1
     
     This file is a copy of the original W3C XHTML 1.1 DTD including all
     the tags provided by Thymeleaf's Standard Dialect.

     Use of this file requires a SYSTEM DOCTYPE (no PUBLICID) with the 
     following identifier:

     SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-1.dtd"
     
     More info: http://www.thymeleaf.org
      
-->
<!-- XHTML 1.1 DTD

     This is XHTML, a reformulation of HTML as a modular XML application.

     The Extensible HyperText Markup Language (XHTML)
     Copyright 1998-2001 World Wide Web Consortium
        (Massachusetts Institute of Technology, Institut National de
         Recherche en Informatique et en Automatique, Keio University).
         All Rights Reserved.

     Permission to use, copy, modify and distribute the XHTML DTD and its 
     accompanying documentation for any purpose and without fee is hereby 
     granted in perpetuity, provided that the above copyright notice and 
     this paragraph appear in all copies.  The copyright holders make no 
     representation about the suitability of the DTD for any purpose.

     It is provided "as is" without expressed or implied warranty.

        Author:     Murray M. Altheim <altheim@eng.sun.com>
        Revision:   $Id: xhtml11.dtd,v 1.21 2001/05/29 16:37:01 ahby Exp $

-->
<!-- This is the driver file for version 1.1 of the XHTML DTD.

     Please use this formal public identifier to identify it:

         "-//W3C//DTD XHTML 1.1//EN"
-->
<!ENTITY % XHTML.version  "-//W3C//DTD XHTML 1.1//EN" >

<!-- Use this URI to identify the default namespace:

         "http://www.w3.org/1999/xhtml"

     See the Qualified Names module for information
     on the use of namespace prefixes in the DTD.
-->
<!ENTITY % NS.prefixed "IGNORE" >
<!ENTITY % XHTML.prefix "" >

<!-- Reserved for use with the XLink namespace:
-->
<!ENTITY % XLINK.xmlns "" >
<!ENTITY % XLINK.xmlns.attrib "" >

<!-- For example, if you are using XHTML 1.1 directly, use the FPI
     in the DOCTYPE declaration, with the xmlns attribute on the
     document element to identify the default namespace:

       <?xml version="1.0"?>
       <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
       <html xmlns="http://www.w3.org/1999/xhtml"
             xml:lang="en">
       ...
       </html>

     Revisions:
     (none)
-->

<!-- reserved for future use with document profiles -->
<!ENTITY % XHTML.profile  "" >

<!-- Bidirectional Text features
     This feature-test entity is used to declare elements
     and attributes used for bidirectional text support.
-->
<!ENTITY % XHTML.bidi  "INCLUDE" >

<?doc type="doctype" role="title" { XHTML 1.1 } ?>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Pre-Framework Redeclaration placeholder  .................... -->
<!-- this serves as a location to insert markup declarations
     into the DTD prior to the framework declarations.
-->
<!ENTITY % xhtml-prefw-redecl.module "IGNORE" >
<![%xhtml-prefw-redecl.module;[
%xhtml-prefw-redecl.mod;
<!-- end of xhtml-prefw-redecl.module -->]]>

<!ENTITY % xhtml-events.module "INCLUDE" >

<!-- Inline Style Module  ........................................ -->
<!ENTITY % xhtml-inlstyle.module "INCLUDE" >
<![%xhtml-inlstyle.module;[
<!ENTITY % xhtml-inlstyle.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Inline Style 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-inlstyle-1.mod" >
%xhtml-inlstyle.mod;]]>

<!-- declare Document Model module instantiated in framework
-->
<!ENTITY % xhtml-model.mod
     PUBLIC "-//W3C//ENTITIES XHTML 1.1 Document Model 1.0//EN"
            "http://www.w3.org/TR/xhtml11/DTD/xhtml11-model-1.mod" >

<!-- Modular Framework Module (required) ......................... -->
<!ENTITY % xhtml-framework.module "INCLUDE" >
<![%xhtml-framework.module;[
<!ENTITY % xhtml-framework.mod
     PUBLIC "-//W3C//ENTITIES XHTML Modular Framework 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-framework-1.mod" >
%xhtml-framework.mod;]]>

<!-- Post-Framework Redeclaration placeholder  ................... -->
<!-- this serves as a location to insert markup declarations
     into the DTD following the framework declarations.
-->
<!ENTITY % xhtml-postfw-redecl.module "IGNORE" >
<![%xhtml-postfw-redecl.module;[
%xhtml-postfw-redecl.mod;
<!-- end of xhtml-postfw-redecl.module -->]]>

<!-- Text Module (Required)  ..................................... -->
<!ENTITY % xhtml-text.module "INCLUDE" >
<![%xhtml-text.module;[
<!ENTITY % xhtml-text.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Text 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-text-1.mod" >
%xhtml-text.mod;]]>

<!-- Hypertext Module (required) ................................. -->
<!ENTITY % xhtml-hypertext.module "INCLUDE" >
<![%xhtml-hypertext.module;[
<!ENTITY % xhtml-hypertext.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Hypertext 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-hypertext-1.mod" >
%xhtml-hypertext.mod;]]>

<!-- Lists Module (required)  .................................... -->
<!ENTITY % xhtml-list.module "INCLUDE" >
<![%xhtml-list.module;[
<!ENTITY % xhtml-list.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Lists 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-list-1.mod" >
%xhtml-list.mod;]]>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Edit Module  ................................................ -->
<!ENTITY % xhtml-edit.module "INCLUDE" >
<![%xhtml-edit.module;[
<!ENTITY % xhtml-edit.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Editing Elements 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-edit-1.mod" >
%xhtml-edit.mod;]]>

<!-- BIDI Override Module  ....................................... -->
<!ENTITY % xhtml-bdo.module "%XHTML.bidi;" >
<![%xhtml-bdo.module;[
<!ENTITY % xhtml-bdo.mod
     PUBLIC "-//W3C//ELEMENTS XHTML BIDI Override Element 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-bdo-1.mod" >
%xhtml-bdo.mod;]]>

<!-- Ruby Module  ................................................ -->
<!ENTITY % Ruby.common.attlists "INCLUDE" >
<!ENTITY % Ruby.common.attrib "%Common.attrib;" >
<!ENTITY % xhtml-ruby.module "INCLUDE" >
<![%xhtml-ruby.module;[
<!ENTITY % xhtml-ruby.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Ruby 1.0//EN"
            "http://www.w3.org/TR/ruby/xhtml-ruby-1.mod" >
%xhtml-ruby.mod;]]>

<!-- Presentation Module  ........................................ -->
<!ENTITY % xhtml-pres.module "INCLUDE" >
<![%xhtml-pres.module;[
<!ENTITY % xhtml-pres.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Presentation 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-pres-1.mod" >
%xhtml-pres.mod;]]>

<!-- Link Element Module  ........................................ -->
<!ENTITY % xhtml-link.module "INCLUDE" >
<![%xhtml-link.module;[
<!ENTITY % xhtml-link.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Link Element 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-link-1.mod" >
%xhtml-link.mod;]]>

<!-- Document Metainformation Module  ............................ -->
<!ENTITY % xhtml-meta.module "INCLUDE" >
<![%xhtml-meta.module;[
<!ENTITY % xhtml-meta.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Metainformation 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-meta-1.mod" >
%xhtml-meta.mod;]]>

<!-- Base Element Module  ........................................ -->
<!ENTITY % xhtml-base.module "INCLUDE" >
<![%xhtml-base.module;[
<!ENTITY % xhtml-base.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Base Element 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-base-1.mod" >
%xhtml-base.mod;]]>

<!-- Scripting Module  ........................................... -->
<!ENTITY % xhtml-script.module "INCLUDE" >
<![%xhtml-script.module;[
<!ENTITY % xhtml-script.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Scripting 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-script-1.mod" >
%xhtml-script.mod;]]>

<!-- Style Sheets Module  ......................................... -->
<!ENTITY % xhtml-style.module "INCLUDE" >
<![%xhtml-style.module;[
<!ENTITY % xhtml-style.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Style Sheets 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-style-1.mod" >
%xhtml-style.mod;]]>

<!-- Image Module  ............................................... -->
<!ENTITY % xhtml-image.module "INCLUDE" >
<![%xhtml-image.module;[
<!ENTITY % xhtml-image.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Images 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-image-1.mod" >
%xhtml-image.mod;]]>

<!-- Client-side Image Map Module  ............................... -->
<!ENTITY % xhtml-csismap.module "INCLUDE" >
<![%xhtml-csismap.module;[
<!ENTITY % xhtml-csismap.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Client-side Image Maps 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-csismap-1.mod" >
%xhtml-csismap.mod;]]>

<!-- Server-side Image Map Module  ............................... -->
<!ENTITY % xhtml-ssismap.module "INCLUDE" >
<![%xhtml-ssismap.module;[
<!ENTITY % xhtml-ssismap.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Server-side Image Maps 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-ssismap-1.mod" >
%xhtml-ssismap.mod;]]>

<!-- Param Element Module  ....................................... -->
<!ENTITY % xhtml-param.module "INCLUDE" >
<![%xhtml-param.module;[
<!ENTITY % xhtml-param.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Param Element 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-param-1.mod" >
%xhtml-param.mod;]]>

<!-- Embedded Object Module  ..................................... -->
<!ENTITY % xhtml-object.module "INCLUDE" >
<![%xhtml-object.module;[
<!ENTITY % xhtml-object.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Embedded Object 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-object-1.mod" >
%xhtml-object.mod;]]>

<!-- Tables Module ............................................... -->
<!ENTITY % xhtml-table.module "INCLUDE" >
<![%xhtml-table.module;[
<!ENTITY % xhtml-table.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Tables 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-table-1.mod" >
%xhtml-table.mod;]]>

<!-- Forms Module  ............................................... -->
<!ENTITY % xhtml-form.module "INCLUDE" >
<![%xhtml-form.module;[
<!ENTITY % xhtml-form.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Forms 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-form-1.mod" >
%xhtml-form.mod;]]>

<!-- Legacy Markup ............................................... -->
<!ENTITY % xhtml-legacy.module "IGNORE" >
<![%xhtml-legacy.module;[
<!ENTITY % xhtml-legacy.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Legacy Markup 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-legacy-1.mod" >
%xhtml-legacy.mod;]]>

<!-- Document Structure Module (required)  ....................... -->
<!ENTITY % xhtml-struct.module "INCLUDE" >
<![%xhtml-struct.module;[
<!ENTITY % xhtml-struct.mod
     PUBLIC "-//W3C//ELEMENTS XHTML Document Structure 1.0//EN"
            "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-struct-1.mod" >
%xhtml-struct.mod;]]>

<!-- end of XHTML 1.1 DTD  ................................................. -->
<!-- ....................................................................... -->






<!-- start of XHTML 1.1 DTD thymeleaf specific features..................... -->
<!-- ....................................................................... -->

<!ENTITY % allthymeleafattrs
 "th:abbr            CDATA  #IMPLIED
  th:accept          CDATA  #IMPLIED
  th:accept-charset  CDATA  #IMPLIED
  th:accesskey       CDATA  #IMPLIED
  th:action          CDATA  #IMPLIED
  th:align           CDATA  #IMPLIED
  th:alt             CDATA  #IMPLIED
  th:alt-title       CDATA  #IMPLIED
  th:archive         CDATA  #IMPLIED
  th:attr            CDATA  #IMPLIED
  th:attrappend      CDATA  #IMPLIED
  th:attrprepend     CDATA  #IMPLIED
  th:axis            CDATA  #IMPLIED
  th:background      CDATA  #IMPLIED
  th:bgcolor         CDATA  #IMPLIED
  th:border          CDATA  #IMPLIED
  th:cellpadding     CDATA  #IMPLIED
  th:cellspacing     CDATA  #IMPLIED
  th:charset         CDATA  #IMPLIED
  th:checked         CDATA  #IMPLIED
  th:cite            CDATA  #IMPLIED
  th:class           CDATA  #IMPLIED
  th:classid         CDATA  #IMPLIED
  th:classappend     CDATA  #IMPLIED
  th:codebase        CDATA  #IMPLIED
  th:codetype        CDATA  #IMPLIED
  th:cols            CDATA  #IMPLIED
  th:colspan         CDATA  #IMPLIED
  th:compact         CDATA  #IMPLIED
  th:content         CDATA  #IMPLIED
  th:data            CDATA  #IMPLIED
  th:declare         CDATA  #IMPLIED
  th:defer           CDATA  #IMPLIED
  th:dir             CDATA  #IMPLIED
  th:disabled        CDATA  #IMPLIED
  th:each            CDATA  #IMPLIED
  th:enctype         CDATA  #IMPLIED
  th:for             CDATA  #IMPLIED
  th:fragment        CDATA  #IMPLIED
  th:frame           CDATA  #IMPLIED
  th:frameborder     CDATA  #IMPLIED
  th:headers         CDATA  #IMPLIED
  th:height          CDATA  #IMPLIED
  th:href            CDATA  #IMPLIED
  th:hreflang        CDATA  #IMPLIED
  th:hspace          CDATA  #IMPLIED
  th:http-equiv      CDATA  #IMPLIED
  th:id              CDATA  #IMPLIED
  th:if              CDATA  #IMPLIED
  th:include         CDATA  #IMPLIED
  th:inline          CDATA  #IMPLIED
  th:ismap           CDATA  #IMPLIED
  th:label           CDATA  #IMPLIED
  th:lang            CDATA  #IMPLIED
  th:lang-xmllang    CDATA  #IMPLIED
  th:longdesc        CDATA  #IMPLIED
  th:marginheight    CDATA  #IMPLIED
  th:marginwidth     CDATA  #IMPLIED
  th:maxlength       CDATA  #IMPLIED
  th:media           CDATA  #IMPLIED
  th:method          CDATA  #IMPLIED
  th:multiple        CDATA  #IMPLIED
  th:name            CDATA  #IMPLIED
  th:nowrap          CDATA  #IMPLIED
  th:object          CDATA  #IMPLIED
  th:onblur          CDATA  #IMPLIED
  th:onchange        CDATA  #IMPLIED
  th:onclick         CDATA  #IMPLIED
  th:ondblclick      CDATA  #IMPLIED
  th:onfocus         CDATA  #IMPLIED
  th:onkeydown       CDATA  #IMPLIED
  th:onkeypress      CDATA  #IMPLIED
  th:onkeyup         CDATA  #IMPLIED
  th:onload          CDATA  #IMPLIED
  th:onmousedown     CDATA  #IMPLIED
  th:onmousemove     CDATA  #IMPLIED
  th:onmouseout      CDATA  #IMPLIED
  th:onmouseover     CDATA  #IMPLIED
  th:onmouseup       CDATA  #IMPLIED
  th:onreset         CDATA  #IMPLIED
  th:onselect        CDATA  #IMPLIED
  th:onsubmit        CDATA  #IMPLIED
  th:onunload        CDATA  #IMPLIED
  th:readonly        CDATA  #IMPLIED
  th:rel             CDATA  #IMPLIED
  th:remove          CDATA  #IMPLIED
  th:rev             CDATA  #IMPLIED
  th:rows            CDATA  #IMPLIED
  th:rowspan         CDATA  #IMPLIED
  th:rules           CDATA  #IMPLIED
  th:scheme          CDATA  #IMPLIED
  th:scope           CDATA  #IMPLIED
  th:scrolling       CDATA  #IMPLIED
  th:selected        CDATA  #IMPLIED
  th:size            CDATA  #IMPLIED
  th:span            CDATA  #IMPLIED
  th:src             CDATA  #IMPLIED
  th:srclang         CDATA  #IMPLIED
  th:standby         CDATA  #IMPLIED
  th:start           CDATA  #IMPLIED
  th:style           CDATA  #IMPLIED
  th:summary         CDATA  #IMPLIED
  th:tabindex        CDATA  #IMPLIED
  th:target          CDATA  #IMPLIED
  th:text            CDATA  #IMPLIED
  th:title           CDATA  #IMPLIED
  th:type            CDATA  #IMPLIED
  th:unless          CDATA  #IMPLIED
  th:usemap          CDATA  #IMPLIED
  th:utext           CDATA  #IMPLIED
  th:value           CDATA  #IMPLIED
  th:valuetype       CDATA  #IMPLIED
  th:vspace          CDATA  #IMPLIED
  th:width           CDATA  #IMPLIED
  th:with            CDATA  #IMPLIED
  th:xmlbase         CDATA  #IMPLIED
  th:xmllang         CDATA  #IMPLIED
  th:xmlspace        CDATA  #IMPLIED"
  >

<!ATTLIST a
  %allthymeleafattrs;
  >

<!ATTLIST abbr
  %allthymeleafattrs;
  >

<!ATTLIST acronym
  %allthymeleafattrs;
  >

<!ATTLIST address
  %allthymeleafattrs;
  >

<!ATTLIST area
  %allthymeleafattrs;
  >

<!ATTLIST b
  %allthymeleafattrs;
  >

<!ATTLIST base
  %allthymeleafattrs;
  >

<!ATTLIST bdo
  %allthymeleafattrs;
  >

<!ATTLIST big
  %allthymeleafattrs;
  >

<!ATTLIST blockquote
  %allthymeleafattrs;
  >

<!ATTLIST body
  %allthymeleafattrs;
  >

<!ATTLIST br
  %allthymeleafattrs;
  >

<!ATTLIST button
  %allthymeleafattrs;
  >

<!ATTLIST caption
  %allthymeleafattrs;
  >

<!ATTLIST cite
  %allthymeleafattrs;
  >

<!ATTLIST code
  %allthymeleafattrs;
  >

<!ATTLIST col
  %allthymeleafattrs;
  >

<!ATTLIST colgroup
  %allthymeleafattrs;
  >

<!ATTLIST dd
  %allthymeleafattrs;
  >

<!ATTLIST del
  %allthymeleafattrs;
  >

<!ATTLIST dfn
  %allthymeleafattrs;
  >

<!ATTLIST div
  %allthymeleafattrs;
  >

<!ATTLIST dl
  %allthymeleafattrs;
  >

<!ATTLIST dt
  %allthymeleafattrs;
  >

<!ATTLIST em
  %allthymeleafattrs;
  >

<!ATTLIST fieldset
  %allthymeleafattrs;
  >

<!ATTLIST form
  %allthymeleafattrs;
  >

<!ATTLIST h1
  %allthymeleafattrs;
  >

<!ATTLIST h1
  %allthymeleafattrs;
  >

<!ATTLIST h2
  %allthymeleafattrs;
  >

<!ATTLIST h3
  %allthymeleafattrs;
  >

<!ATTLIST h4
  %allthymeleafattrs;
  >

<!ATTLIST h5
  %allthymeleafattrs;
  >

<!ATTLIST h6
  %allthymeleafattrs;
  >

<!ATTLIST head
  %allthymeleafattrs;
  >

<!ATTLIST hr
  %allthymeleafattrs;
  >

<!ATTLIST html
  xmlns:th   %URI.datatype;   #IMPLIED
  %allthymeleafattrs;
  >

<!ATTLIST i
  %allthymeleafattrs;
  >

<!ATTLIST img
  %allthymeleafattrs;
  >

<!ATTLIST input
  %allthymeleafattrs;
  >

<!ATTLIST ins
  %allthymeleafattrs;
  >

<!ATTLIST kbd
  %allthymeleafattrs;
  >

<!ATTLIST label
  %allthymeleafattrs;
  >

<!ATTLIST legend
  %allthymeleafattrs;
  >

<!ATTLIST li
  %allthymeleafattrs;
  >

<!ATTLIST link
  %allthymeleafattrs;
  >

<!ATTLIST map
  %allthymeleafattrs;
  >

<!ATTLIST meta
  %allthymeleafattrs;
  >

<!ATTLIST noscript
  %allthymeleafattrs;
  >

<!ATTLIST object
  %allthymeleafattrs;
  >

<!ATTLIST ol
  %allthymeleafattrs;
  >

<!ATTLIST optgroup
  %allthymeleafattrs;
  >

<!ATTLIST option
  %allthymeleafattrs;
  >

<!ATTLIST p
  %allthymeleafattrs;
  >

<!ATTLIST param
  %allthymeleafattrs;
  >

<!ATTLIST pre
  %allthymeleafattrs;
  >

<!ATTLIST q
  %allthymeleafattrs;
  >

<!ATTLIST samp
  %allthymeleafattrs;
  >

<!ATTLIST script
  %allthymeleafattrs;
  >

<!ATTLIST select
  %allthymeleafattrs;
  >

<!ATTLIST small
  %allthymeleafattrs;
  >

<!ATTLIST span
  %allthymeleafattrs;
  >

<!ATTLIST strong
  %allthymeleafattrs;
  >

<!ATTLIST style
  %allthymeleafattrs;
  >

<!ATTLIST sub
  %allthymeleafattrs;
  >

<!ATTLIST sup
  %allthymeleafattrs;
  >

<!ATTLIST table
  %allthymeleafattrs;
  >

<!ATTLIST tbody
  %allthymeleafattrs;
  >

<!ATTLIST td
  %allthymeleafattrs;
  >

<!ATTLIST textarea
  %allthymeleafattrs;
  >

<!ATTLIST tfoot
  %allthymeleafattrs;
  >

<!ATTLIST th
  %allthymeleafattrs;
  >

<!ATTLIST thead
  %allthymeleafattrs;
  >

<!ATTLIST title
  %allthymeleafattrs;
  >

<!ATTLIST tr
  %allthymeleafattrs;
  >

<!ATTLIST tt
  %allthymeleafattrs;
  >

<!ATTLIST ul
  %allthymeleafattrs;
  >

<!ATTLIST var
  %allthymeleafattrs;
  >


<!-- end of XHTML 1.1 DTD thymeleaf specific features....................... -->
<!-- ....................................................................... -->
